


.input-field {
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(247, 247, 247);
    text-align: center;
    position: relative;
}

select{
    background: rgb(247, 247, 247);
    color: gray;
    height: 20%;
    width: 30%;
    border-radius: 8px;
}

.error {
    display: none; 
    color:rgb(121, 7, 7); 
}

.inline{
    display: inline-block;
}

table, th{
    border: 1px solid black;
}

.capital {
    text-transform: capitalize;
}