.mainButton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #9eb5af 5%, #6c7c7c 100%);
	background-color:#9eb5af;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.mainButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #9eb5af 100%);
	background-color:#6c7c7c;
}
.mainButton:active {
	position:relative;
	top:1px;
}



.input-field {
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(247, 247, 247);
    text-align: center;
    position: relative;
}

select{
    background: rgb(247, 247, 247);
    color: gray;
    height: 20%;
    width: 30%;
    border-radius: 8px;
}

.error {
    display: none; 
    color:rgb(121, 7, 7); 
}

.inline{
    display: inline-block;
}

table, th{
    border: 1px solid black;
}

.capital {
    text-transform: capitalize;
}